@page
@model CildAdoptie.Pages.AdoptionFormModel
@{
}
<label for="ApplicantName">Naam:</label>
<input type="text" name="ApplicantName" id="ApplicantName" required />

<label for="ContactInfo">Contactinformatie:</label>
<input type="text" name="ContactInfo" id="ContactInfo" required />

<button type="submit">Verzoek indienen</button>
